.dialog-top {
    padding: 10px 26px;
    padding-bottom: 0 !important;
    box-sizing: border-box;
}

.dialog-wrap {
    padding: 26px;
    padding-top: 10px !important;
    box-sizing: border-box;
}

.title1 {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.title2 {
    color: #999;
    margin: 0;
}