.or-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0 10px;
}

.or-box-line {
    width: 100%;
    background: #dad9d9;
    height: 1px;
}

.or-box-text {
    min-width: 120px;
    text-align: center;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-container > * {
    margin: 0 10px;
}

.svg-container > *:active {
    transform: scale(1.1);
}