.copyright {
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #e2e2e2;
    box-sizing: border-box;
    color: #737573;
    font-size: 13px;
    user-select: none;
}