.j-cell-group {
    display: flex;
    flex-direction: column;
}

.j-cell-title {
    min-width: 90px;
    flex-shrink: 0;
}

.j-cell-rest {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
