.item {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    /*border-bottom: 1px solid #f1f1f1;*/
}

.item:last-child {
    border-bottom: none;
}

.title {
    min-width: 90px;
    flex-shrink: 0;
}