.app-welcome {
    background-color: #282c34;
}

.app-welcome-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-welcome-logo {
    height: 40vmin;
    pointer-events: none;
    user-select: none;
    transition: all .2s linear;
}

.yyds {
    user-select: none;
    transition: all .2s linear;
}

.yyds:hover {
    color: #61dafb;
    transform: scale(1.5);
}

.entry-btn {
    cursor: pointer;
}

.entry-btn:hover {
    color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
    .app-welcome-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}


@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
