.app-header {
    z-index: 500;
    height: var(--header-height);
    position: sticky;
    top: 0;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.12);*/
}

.header-wrap {
    width: var(--wrap-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    user-select: none;
}
