.app-header {
    background-color: #fff;
    height: 62px;
    position: sticky;
    top: 0;
    padding: 0 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.header-item:last-child > * {*/
/*    margin: 0 4px;*/
/*}*/

.logo {
    height: 100%;
}