@import "/src/assets/css/light.css";
@import "/src/assets/css/dark.css";

:root {
    --header-height: 64px;
    --wrap-width: 1200px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #cccccc;
}

::-webkit-scrollbar-track {
    background: hsla(210, 8%, 51%, .09);
}


#app {
    min-width: calc(var(--wrap-width) + 100);
}
