@import "/src/assets/css/light.css";
@import "/src/assets/css/dark.css";

@import "/src/components/JPage/index.css";
@import "/src/components/Cell/index.css";

:root {
    --header-height: 60px;
    --wrap-width: 1200px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #cccccc;
}

::-webkit-scrollbar-track {
    background: hsla(210, 8%, 51%, .09);
}


#app {
    min-width: calc(var(--wrap-width) + 100px);
    min-height: 100vh;
    display: flow-root;
}
