html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: auto hidden;
    background-color: #f1f1f1;
}

:root {
    --wrap-width: 1100px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #cccccc;
}

::-webkit-scrollbar-track {
    background: hsla(210, 8%, 51%, .09);
}

[data-theme='dark'] .theme-bg {
    background-color: #555555 !important;
}

[data-theme='dark'] .theme-fc {
    color: #ffffff !important;
}

[data-theme='light'] .theme-bg {
    background-color: #f1f1f1 !important;
}

[data-theme='light'] .theme-fc {
    color: #333333 !important;
}


.icon {
    cursor: pointer;
}


