#rt-toolbar {
    position: sticky;
    top: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1200;
}

.w-e-toolbar {
    background-color: transparent;
}

.w-e-text-container > .placeholder {
    color: #aaa;
}

.w-e-toolbar .w-e-menu {
    width: 45px;
}